[theme='solarized'] {
  .hljs {
    $base: &;
    color: #839496;
    &-comment,
    &-quote {
      color: #586e75;
    }
    &-keyword,
    &-selector-tag,
    &-addition {
      color: #859900;
    }
    /* Solarized Cyan */
    &-number,
    &-string,
    &-meta #{$base}-meta-string,
    &-literal,
    &-doctag,
    &-regexp {
      color: #2aa198;
    }
    /* Solarized Blue */
    &-title,
    &-section,
    &-name,
    &-selector-id,
    &-selector-class {
      color: #268bd2;
    }
    /* Solarized Yellow */
    &-attribute,
    &-attr,
    &-variable,
    &-template-variable,
    &-class #{$base}-title,
    &-type {
      color: #b58900;
    }
    /* Solarized Orange */
    &-symbol,
    &-bullet,
    &-subst,
    &-meta,
    &-meta #{$base}-keyword,
    &-selector-attr,
    &-selector-pseudo,
    &-link {
      color: #cb4b16;
    }
    /* Solarized Red */
    &-built_in,
    &-deletion {
      color: #dc322f;
    }
    &-emphasis {
      font-style: italic;
    }
    &-strong {
      font-weight: bold;
    }
  }
  &[mode='light'] {
    .hljs {
      $base: &;
      color: #657b83;
      &-comment,
      &-quote {
        color: #93a1a1
      }
      &-addition,
      &-keyword,
      &-selector-tag {
        color: #859900;
      }
      &-doctag,
      &-literal,
      &-meta #{$base}-meta-string,
      &-number,
      &-regexp,
      &-string {
        color: #2aa198;
      }
      &-name,
      &-section,
      &-selector-class,
      &-selector-id,
      &-title {
        color: #268bd2;
      }
      &-attr,
      &-attribute,
      &-class #{$base}-title,
      &-template-variable,
      &-type,
      &-variable {
        color: #b58900;
      }
      &-bullet,
      &-link,
      &-meta,
      &-meta #{$base}-keyword,
      &-selector-attr,
      &-selector-pseudo,
      &-subst,
      &-symbol {
        color: #cb4b16;
      }
      &-built_in,
      &-deletion {
        color: #dc322f;
      }
      &-emphasis {
        font-style: italic
      }
      &-strong {
        font-weight: 700
      }
    }
  }
}
